:root {
  --redux-color: #764abc;
  --nav-width: 275px;
  --nav-width-medium: 88px;
  --hover-color: rgba(15, 20, 25, 0.10);
  --border-color: 1.75px solid rgba(177, 174, 174, 0.20)
}

body {
  margin: 0;
  /* Padding is to compensate for mobile bottom nav */
  padding-bottom: 55.2px; 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-size: 1.1rem;
}

/* Wrapper */

.wrapper {
  margin: 0 auto;
  max-width: 1038px;
  /*Scrollbar layout shift fix*/
  position: relative;
  left: calc((100vw - 100%) / 2);
  display: flex;
  /* justify-content: center; */
}

.main-container {
  display: flex;
  width: 100%;
}

/* Navbar */

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0;
  background-color: white;
  border-top: var(--border-color);
  z-index: 1;
}

/* User dropdown */

.user-dropdown-container {
  margin-bottom: 12px;
  display: none;
  justify-content: center;
}

.dropdown {
  width: 100%;
  display: flex;
}

.dropdown-btn {
  margin: 0;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #404040;
  border-radius: 9999px;
  cursor: pointer;
}

.dropdown-btn:hover {
  background-color: var(--hover-color);
}

.profile-pic {
  background-image: url(https://pbs.twimg.com/profile_images/1506072421002104842/9GVCifCE_normal.jpg);
  width: 42px;
  height: 42px;
  border-radius: 9999px;
  background-position: center;
}

.username-container {
  margin: 0 12px;
  display: none;
}

[data-reach-dialog-overlay] {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#profile-modal {
  width: 300px;
  padding: 12px;
  border-radius: 0.5rem;
  box-shadow: 0 0 15px rgba(101, 119, 134, 0.2), 0 0 3px 1px rgba(101, 119, 134, 0.15);
}

.dropdown-content {
  margin: 0;
  list-style: none;
  padding: 0px;
}

.dropdown-content li {
  color: #404040;
  padding: 12px;
  border-radius: 9999px;
  cursor: pointer;
}

.dropdown-content li:hover {
  background-color: var(--hover-color);
}

#postAuthor {
  padding: 0.75rem;
}

/* Logo */

.logo-wrapper {
  display: none;
}

.logo-container {
  display: inline-block;
  padding: 14px;
  border-radius: 9999px;
  line-height: 0%;
}

.logo-container:hover {
  background-color: var(--hover-color);
}

#logo {
  height: 1.75rem;
}

/* Nav items */

nav section {
  width: 100%;
}

nav section h1,
nav section {
  color: white;
}

.navLinks {
  display: flex;
  justify-content: space-around;
}

.navLink {
  color: #f2f2f2;
  text-align: left;
  font-size: 17px;
  padding: 14px 16px;
  border-radius: 9999px;
}

.navLink-content {
  display: flex;
  align-items: center;
}

.navLink a {
  text-decoration: none;
}

.navLink:hover {
  background-color: var(--hover-color);
}

.nav-icon-container {
  line-height: 0%;
}

.nav-icon {
  height: 1.75rem;
  width: 1.75rem;
}

.navLink-text {
  display: none;
  color: black;
}

.nav-tweet-button-container {
  display: none;
}

.nav-tweet-button-post {
  display: none;
}

.nav-tweet-button-icon {
  display: none;
}

@media (min-width: 800px) {
  nav section {
    padding: 0px 20px 0px 20px;
  }

  .navLinks, .navLink {
    display: block;
  }

  .logo-wrapper {
    display: block;
    border-radius: 9999px;
  }

  .nav-tweet-button {
    display: block;
    width: 100%;
    outline: none;
  }

  .user-dropdown-container {
    display: flex;
  }

  .profile-pic {
    display: block;
  }
}

.App {
  flex-grow: 1;
  width: 100%;
}

@media (min-width: 800px) and (max-width: 1299px) {
  .App {
      margin-left: var(--nav-width-medium);
      max-width: 600px;
    }
  
  .navbar {
    width: var(--nav-width-medium);
    height: 100%;
  }

  .navContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navLink {
    padding: 14px;
  }

  .navLink-content {
    justify-content: center;
  }

  .nav-tweet-button-container {
    display: block;
    margin-top: 14px;
    padding: 0;
  }

  .nav-tweet-button {
    width: 48px;
    height: 48px;
    margin: 0;
    padding: 10px;
    fill: white;
  }

  .nav-tweet-button-icon {
    display: inline-block;
  }

  .dropdown {
    justify-content: center;
  }
}

@media (min-width: 1300px) {
  .wrapper {
    max-width: 1255px;
  }
  
  .App {
    margin-left: var(--nav-width);
    max-width: 600px;
  }
  
  .navbar {
    width: var(--nav-width);
    height: 100%;
  }
  
  .logo-container {
    padding: 16px;
  }

  .navLink-text {
    display: inline-block;
    margin-left: 20px;
    font-size: 20px;
  }

  .nav-tweet-button-container {
    display: block;
    padding: 0;
    margin: 16px 0;
  }

  .nav-tweet-button-post {
    display: inline;
  }

  .username-container {
    display: block;
  }

  .dropdown {
    display: block;
  }

  .dropdown-btn {
    justify-content: flex-start;
  }
}

.navLinks a .badge {
  margin-left: 5px;
  position: relative;
  top: -3px;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  color: #212529;
  background-color: #f8f9fa;
}

/* Main content */

section {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  /* padding: 0 1.5rem; */
}

section h1 {
  font-size: 3rem;
}

#mobile-tweet-button {
  width: 56px;
  height: 56px;
  display: inline-block;
  position: fixed;
  bottom: 70px;
  right: 20px;
  border-radius: 50%;
}

@media (min-width: 800px) {
  #mobile-tweet-button {
    display: none;
  }
}

/* View selector */

.view-selector-wrapper {
  /* margin-top: 50px; */
  position: sticky;
  top: -0.5px;
  /*Explicitly declare index to fix opacity stacking context issue since opacity is changed on the Post button*/
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(12px);
  border: var(--border-color);
}

.view-selector {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media (min-width: 800px) {
  .view-selector {
    border-bottom: none;
  }
}

.view-selector-item-container {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  padding: 0 16px;
  cursor: pointer;
}

.view-selector-item-container:hover {
  background-color: var(--hover-color);
}

.view-selector-item {
  position: relative;
  padding: 16px 0;
}

.selected-view {
  height: 4px;
  min-width: 53px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  border-radius: 9999px;
  background-color: rgb(14 165 233);
  /* border-bottom: solid 4px rgb(14 165 233); */
}

/* Add post form */

.mobile-add-post-form {
  padding: 40px;
}

#compose-modal {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0.5rem 0;
}

.modal-top-nav {
  height: 53px;
}

#compose-modal > .add-post-form {
  padding: 0 1rem;
}

.close-modal-icon-container {
  display: inline-block;
  margin-left: 0.5rem;
  padding: 7px;
  border-radius: 9999px;
  line-height: 0%;
}

.close-modal-icon-container:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}

.close-modal-icon {
  width: 1.2rem;
  height: 1.2rem;
}

.add-post-form-container {
  display: none;
}

.add-post-form {
  display: flex;
}

.add-post-form-content-container {
  width: 100%;
}

#postContent {
  border: none;
  border-bottom: var(--border-color);
  outline: none;
  resize: none;
  box-shadow: none;
  font-size: 20px;
}

@media (min-width: 800px) {
  .add-post-form-container {
      display: block;
      /* margin-top: 50px; */
      padding: 1.5rem 1rem 0.5rem 1rem;
      border-right: var(--border-color);
      border-left: var(--border-color);
      border-bottom: var(--border-color);
  }

  #compose-modal {
    max-width: 600px;
    height: auto;
    position: absolute;
    top: 5%;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(101, 119, 134, 0.2), 0 0 3px 1px rgba(101, 119, 134, 0.15);
  }
}

.tweet-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}

.tweet-button-container span {
  font-size: 15px;
}

/* Posts list */

.text-muted {
  color: gray;
  font-size: 0.8rem;
}

.posts-list {
  border-left: var(--border-color);
  border-right: var(--border-color);
}

.post h2 {
  font-size: 2.5rem;
  margin-bottom: 5px;
}

.post-excerpt-container {
    border-bottom: var(--border-color);
}

.post-excerpt-container:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}

.post-excerpt {
  display: flex;
  padding: 0.75rem 1rem;
}

.timeline-profile-pic-bubble {
  margin-right: 12px;
  padding-top: 2px;
}

.posts-list .post-excerpt + .post-excerpt {
  margin-top: 0.5rem;
}

.posts-container.disabled {
  opacity: 0.5;
}

.post-excerpt h3 {
  margin: 0;
  font-size: 1.5rem;
}

.post-content-container {
  width: 100%;
  padding-bottom: 12px;
}

p.post-content {
  margin-bottom: 0;
}

.reaction-button-list {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  column-gap: 5rem;
  max-width: 600px;
}

.reaction-button-list-item {
  display: flex;
  align-items: center;
  flex: 1;
}

.count-container {
  display: inline-flex;
  padding-bottom: 1px;
}

.count {
  font-size: 13px;
  padding: 0 4px;
}

.hidden {
  visibility: hidden;
}

.button {
  display: inline-block;
  background: #1976d2;
  color: white;
  border-radius: 4px;
  font-weight: 700;
  padding: 0.75rem 1.5rem;
}

button:disabled,
button:disabled:hover {
  opacity: 0.5;
  cursor: default;
}

.reaction-button, .reaction-button:hover, .reaction-button.selected-reaction-button, .muted-button,
.muted-button:active,
.muted-button:focus {
    border: none;
    margin: 0;
}

.reaction-button {
  height: 1.2rem;
  padding: 0;
  display: flex;
}

.reaction-button svg {
  height: 1.2rem;
}

/* button.reaction-button.selected-reaction-button > svg{
  fill: rgb(249, 24, 128);
} */

.selected-reaction-button.heart svg {
  fill: rgb(249, 24, 128);
}

.selected-reaction-button.retweet svg {
  fill: rgb(0, 186, 124);
}

.reaction-button-container {
  display: inline-flex;
  position: relative;
  /* z-index: 0; */
}

.reaction-button-hover-bubble {
  align-items: stretch;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  margin: -10px;
  border-radius: 9999px;
  z-index: 0;
}

.reaction-button-hover-bubble:hover {
  background-color: rgba(29, 155, 240, 0.10);
}

/* Right pane */

.right-pane-container {
  display: none;
}

.search-card-container {
  border-radius: 9999px;
  top: 0;
  margin-top: 5px;
  z-index: 2;
}

.search-bar {
  height: 43.2px;
  padding: 12px;
  border-radius: 9999px;
  background-color: rgba(239, 243, 244, 1.00);
}

.search-bar > input {
  padding: 0px;
  border: none;
}

.trending-container-spacer {
  height: 53px;
}

.trending-container {
  position: sticky;
  bottom: -130.133px;
  line-height: 20px;
}

.subscribe-card-container {
  background-color: rgba(247, 249, 249, 1.00);
  border-radius: 16px;
}

.subscribe-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 12px 16px;
}

.subscribe-text {
  font-size: 20px;
  font-weight: 800;
}

.subscribe-description {
  font-size: 15px;
}

.subscribe-button {
  background-color: rgb(15, 20, 25);
  border: none;
}

.subscribe-button:hover {
  background-color: rgba(39, 44, 48, 1.00);
  border: none;
}

@media (min-width: 1040px) {
  .right-pane-container {
    display: block;
    margin-left: 30px;
    padding-top: 12px;
  }

  .search-card-container {
    display: block;
    position: fixed;
    height: 53px;
  }

  .subscribe-card-container {
    display: block;
  }
}

@media (min-width: 1040px) and (max-width: 1299px) {
  .right-pane-container{
    width: 290px;
  }

  .search-card-container {
    width: 290px;
  }

  .trending-container {
    width: 290px;
  }
}

@media (min-width: 1300px) {
  .right-pane-container{
    width: 350px;
  }

  .search-card-container {
    width: 350px;
  }

  .trending-container {
    width: 350px;
  }
}

.spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinner h4 {
  margin: 5px;
}

/* https://projects.lukehaas.me/css-loaders/ , Loader #3 */
.loader {
  font-size: 10px;
  margin: 10px;
  /* text-indent: -9999em; */
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background: var(--redux-color);
  background: -moz-linear-gradient(
    left,
    var(--redux-color) 10%,
    rgba(128, 0, 255, 0) 42%
  );
  background: -webkit-linear-gradient(
    left,
    var(--redux-color) 10%,
    rgba(128, 0, 255, 0) 42%
  );
  background: -o-linear-gradient(
    left,
    var(--redux-color) 10%,
    rgba(128, 0, 255, 0) 42%
  );
  background: -ms-linear-gradient(
    left,
    var(--redux-color) 10%,
    rgba(128, 0, 255, 0) 42%
  );
  background: linear-gradient(
    to right,
    var(--redux-color) 10%,
    rgba(128, 0, 255, 0) 42%
  );
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader:before {
  width: 50%;
  height: 50%;
  background: var(--redux-color);
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.loader:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Notifications list */

.notification {
  border: 1px solid #eee;
  padding: 0.5rem;
}

.notificationsList .notification + .notification {
  border-top: none;
}

.notification.new {
  background-color: rgba(29, 161, 242, 0.1);
}
