:root {
  --redux-color: #764abc;
  --nav-width: 275px;
  --hover-color: rgba(15, 20, 25, 0.10);
  --border-color: 1.75px solid rgba(177, 174, 174, 0.20)
}

body {
  margin: 0;
  /* Padding is to compensate for mobile bottom nav */
  padding-bottom: 55.2px; 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-size: 1.1rem;
}

/* User dropdown */

.user-dropdown-container {
  margin: 0 2rem 50px 2rem;
}

#postAuthor {
  padding: 0.75rem;
}

/* Wrapper */

.wrapper {
  margin: 0 auto;
  max-width: 1100px;
  /*Scrollbar layout shift fix*/
  position: relative;
  left: calc((100vw - 100%) / 2);
}

/* Navbar */

.navbar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  /* display: flex; */
  padding: 0;
  background-color: white;
  border-top: var(--border-color);
}

.logo-wrapper {
  margin-left: 5px;
  border-radius: 9999px;
}

.logo-container {
  display: inline-block;
  padding: 10px;
  border-radius: 9999px;
  line-height: 0%;
}

.logo-container:hover {
  background-color: var(--hover-color);
}

#logo {
  height: 2rem;
}

nav section {
  width: 100%;
}

nav section h1,
nav section {
  color: white;
}

.navLinks {
  display: flex;
  justify-content: space-around;
}

.navLink {
  color: #f2f2f2;
  text-align: left;
  font-size: 17px;
  padding: 14px 16px;
  margin-left: 5px;
  border-radius: 9999px;
}

.navLink a {
  text-decoration: none;
}

.navLink:hover {
  background-color: var(--hover-color);
}

.navLink-text {
  display: none;
  color: black;
}

@media (min-width: 800px) {
  .App {
    margin-left: var(--nav-width);
    max-width: 600px;
  }

  .navbar {
    width: var(--nav-width);
    height: 100%;
  }

  nav section {
    padding: 0px 20px 0px 20px;
  }

  .navLinks, .navLink {
    display: block;
  }

  .navLink-text {
    display: inline-block;
    font-size: 20px;
  }
}

.navLinks a .badge {
  margin-left: 5px;
  position: relative;
  top: -3px;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  color: #212529;
  background-color: #f8f9fa;
}

/* Main content */

section {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  /* padding: 0 1.5rem; */
}

section h1 {
  font-size: 3rem;
}

#mobile-tweet-button {
  width: 56px;
  height: 56px;
  display: inline-block;
  position: fixed;
  bottom: 70px;
  right: 20px;
  border-radius: 50%;
}

@media (min-width: 800px) {
  #mobile-tweet-button {
    display: none;
  }
}

/* View selector */

.view-selector-wrapper {
  /* margin-top: 50px; */
  position: sticky;
  top: -0.5px;
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(12px);
  border: var(--border-color);
}

.view-selector {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media (min-width: 800px) {
  .view-selector {
    border-bottom: none;
  }
}

.view-selector-item-container {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  padding: 0 16px;
  cursor: pointer;
}

.view-selector-item-container:hover {
  background-color: var(--hover-color);
}

.view-selector-item {
  position: relative;
  padding: 16px 0;
}

.selected-view {
  height: 4px;
  min-width: 53px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  border-radius: 9999px;
  background-color: rgb(14 165 233);
  /* border-bottom: solid 4px rgb(14 165 233); */
}

/* Add post form */

.mobile-add-post-form {
  padding: 40px;
}

.add-post-form {
  display: none;
}

#postContent {
  border: none;
  border-bottom: var(--border-color);
  outline: none;
  resize: none;
  box-shadow: none;
  font-size: 20px;
}

@media (min-width: 800px) {
  .add-post-form {
      display: block;
      /* margin-top: 50px; */
      padding: 0.5rem 1.5rem;
      border-right: var(--border-color);
      border-left: var(--border-color);
      border-bottom: var(--border-color);
    }
}

.tweet-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}

/* Posts list */

.text-muted {
  color: gray;
  font-size: 0.8rem;
}

.posts-list {
  border-left: var(--border-color);
  border-right: var(--border-color);
}

.post h2 {
  font-size: 2.5rem;
  margin-bottom: 5px;
}

.post-excerpt-container {
    border-bottom: var(--border-color);
}

.post-excerpt-container:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}

.post-excerpt {
  padding: 0.75rem 1rem;
}

.posts-list .post-excerpt + .post-excerpt {
  margin-top: 0.5rem;
}

.posts-container.disabled {
  opacity: 0.5;
}

.post-excerpt h3 {
  margin: 0;
  font-size: 1.5rem;
}

p.post-content {
  margin-top: 10px;
}

.reaction-button-list {
  display: flex;
  justify-content: space-between;
  max-width: 425px;
}

.button {
  display: inline-block;
  background: #1976d2;
  color: white;
  border-radius: 4px;
  font-weight: 700;
  padding: 0.75rem 1.5rem;
}

button:disabled,
button:disabled:hover {
  opacity: 0.5;
}

button.reaction-button {
  border: 1px solid #e0e3e9;
  padding: 5px 10px;
  margin: 5px 6px 10px;
  border-radius: 4px;
  white-space: nowrap;
}

button.reaction-button.selected-reaction-button {
  background-color: lightblue;
}

.spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinner h4 {
  margin: 5px;
}

/* https://projects.lukehaas.me/css-loaders/ , Loader #3 */
.loader {
  font-size: 10px;
  margin: 10px;
  /* text-indent: -9999em; */
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background: var(--redux-color);
  background: -moz-linear-gradient(
    left,
    var(--redux-color) 10%,
    rgba(128, 0, 255, 0) 42%
  );
  background: -webkit-linear-gradient(
    left,
    var(--redux-color) 10%,
    rgba(128, 0, 255, 0) 42%
  );
  background: -o-linear-gradient(
    left,
    var(--redux-color) 10%,
    rgba(128, 0, 255, 0) 42%
  );
  background: -ms-linear-gradient(
    left,
    var(--redux-color) 10%,
    rgba(128, 0, 255, 0) 42%
  );
  background: linear-gradient(
    to right,
    var(--redux-color) 10%,
    rgba(128, 0, 255, 0) 42%
  );
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader:before {
  width: 50%;
  height: 50%;
  background: var(--redux-color);
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.loader:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Notifications list */

.notification {
  border: 1px solid #eee;
  padding: 0.5rem;
}

.notificationsList .notification + .notification {
  border-top: none;
}

.notification.new {
  background-color: rgba(29, 161, 242, 0.1);
}
